@import "../../../responsive.scss";
.wrapper {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	.inner {
		.pass-block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 15px 40px;
			padding-bottom: 10px;
			border-bottom: 0.5px solid #c5c1c1;
			.pass-title {
			}
			.title-block {
				display: flex;
				gap: 20px;
				.with-title {
					padding: 8px 20px;
					background: rgb(201, 201, 202);
					border-radius: 5px;
					cursor: pointer;
				}
				.active {
					background: blue;
					color: white;
				}
			}
		}
		@include tablet{
			.pass-block {
				.pass-title {
					font-size: 1.4rem;
				}
				.title-block {
					display: flex;
					gap: 20px;
					.with-title {
						padding: 8px 20px;
						background: rgb(201, 201, 202);
						border-radius: 5px;
						cursor: pointer;
						font-size: 1.2rem;
					}
					.active {
						background: blue;
						color: white;
					}
				}
			}
		}
	}
}
