@import "../../responsive.scss";
.wrapper {
  display: none;
  @include mobile {
    display: block;
    margin-top: 50px;
    border-top: 0.02rem solid #0066d1;
    .form {
      margin: 0 40px;
      margin-top: 30px;
      .Bank-blog {
        margin-bottom: 30px;
        .bank-title {
          margin-right: 25px;
          color: #6a8cb0;
        }
        .input {
          width: 100%;
          background: #e1e1e1;
          padding: 12px 10px;
          border-radius: 5px;
          border: none;
         border-top: 0.5px solid rgb(209, 208, 208);
        }
      }
      .account-blog {
        margin-bottom: 30px;
        .account-title {
          margin-right: 25px;
          color: #6a8cb0;
        }

        .input {
          width: 100%;
          background: #e1e1e1;
          padding: 12px 10px;
          border-radius: 5px;
          border: none;
         border-top: 0.5px solid rgb(209, 208, 208);
        }
      }
      .account-no {
        margin-bottom: 30px;
        .accountno-title {
          margin-right: 25px;
          color: #6a8cb0;
        }

        .input {
          width: 100%;
          background: #e1e1e1;
          padding: 12px 10px;
          border-radius: 5px;
          border: none;
          border-top: 0.5px solid rgb(209, 208, 208);
        }
      }
      .save {
        padding-bottom: 100px;
        width: 100%;
        .btn-save {
          width: 100%;
          padding: 12px 0;
          text-align: center;
          color: white;
          background: #0062c9;
        //   background: linear-gradient(to bottom, #e6d4f5 0%, #003679 180%);
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
