@import "../../../../responsive.scss";
.wrapper {
  .fiel {
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    border-top: 0.5px solid #dad6d6;
    border-bottom: 0.5px solid #dad6d6;
    padding: 10px 30px;
    gap: 10px;

    .bank {
      padding-left: 50px;
      padding-right: 50px;
    }
    .branch {
      padding-left: 50px;
      padding-right: 50px;
    }
    .account-holder {
      padding-left: 50px;
      padding-right: 50px;
    }
    .account-no {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include tablet{
      width: 100%;
      gap: 10px;
      align-items: center;
      text-align: center;
      font-size: 1.3rem;
  
      .bank {
          width: 25%;
          padding: 0;
      }
      .branch {
        width: 25%;
        padding: 0;
      }
      .account-holder {
        width: 25%;
        padding: 0;
      }
      .account-no {
        width: 25%;
        padding: 0;
      }
    }
  }
  .form {
    margin-top: 30px;
    margin-left: 40px;
    .Bank-blog {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .bank-title {
        width: 143px;
        margin-right: 25px;
        color: #6a8cb0;
      }
      .select {
        color: #858585;
        padding: 15px 10px;
        width: 300px;
        border-radius: 5px;
        cursor: pointer;
      }
      @include tablet{
        width: 100%;
        .bank-title {
          width: 30%;
          margin-right: 25px;
          color: #6a8cb0;
        }
        .select {
          width: 62%;
          margin-right: 40px;
        }
      }
    }
    .account-blog {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .account-title {
        width: 143px;
        margin-right: 25px;
        color: #6a8cb0;
      }

      .input {
        padding: 15px 10px;
        width: 300px;
        border-radius: 5px;
        border: 0.5px solid rgb(120, 119, 119);
      }
      @include tablet{
        width: 100%;
        .account-title {
          width: 30%;
          margin-right: 25px;
          color: #6a8cb0;
        }
        .input {
          width: 62%;
          margin-right: 40px;
        }
      }
    }
    .account-no {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .accountno-title {
        width: 143px;
        margin-right: 25px;
        color: #6a8cb0;
      }

      .input {
        padding: 15px 10px;
        width: 300px;
        border-radius: 5px;
        border: 0.5px solid rgb(120, 119, 119);
      }
      @include tablet{
        width: 100%;
        .accountno-title {
          width: 30%;
          margin-right: 25px;
          color: #6a8cb0;
        }
        .input {
          width: 62%;
          margin-right: 40px;
        }
      }
    }
    .save {
      display: flex;
      align-items: center;
      padding-bottom: 100px;
      .save-title {
        width: 143px;
        margin-right: 25px;
      }

      .btn-save {
        padding: 12px 80px;
        text-align: center;
        color: white;
        background: #0062c9;
        background: linear-gradient(to bottom, #e6d4f5 0%, #003679 180%);
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
