.wrapper {
	background: #f0f0f0;
	display: flex;
	justify-content: center;
	background-image: url('../../assets/images/register/bk8-web-register.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 1175px;
}

.form-container {
	width: 1000px;
	background: white;
	margin: 40px 0px;
	position: relative;
}

.top {
	display: flex;
	margin-top: 30px;
	height: 484px;
	padding-left: 40px;
	.top__left {
		.top__left-img {
			background-image: url('../../assets/images/register/register-appdld-bg.jpg');
			height: 410px;
			width: 400px;
		}
		.top__left-span {
			margin-top: 18px;
		}
	}
	.top__right {
		margin-left: 35px;
		width: 595px;
        
		.top__right-header {
			background: black;
			width: 72.5%;
			color: white;
			padding: 9px 0px 9px 15px;
			> span {
				width: 110px;
				height: 13px;
			}
		}
		.top__right-footer {
			font-size: 12px;
			width: 75%;
			margin-left: 10px;
			line-height: 13px;
			margin-bottom: 3px;
            >span{
                font-size: 12px;
                line-height: 13px;
            }
		}
	}
}

.bottom {
	width: 100%;
	margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .bottom__1, .bottom__2{
        width: 92%;
        >img{
            display: block;
            margin: 0 auto;
            padding-top: 2%;
            width: 100%;
        }
    }
}

.hidden{
	visibility: hidden !important;
	display: none !important;
}