@import "../../../responsive.scss";
.wrapper {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  .withdraw-title {
    padding: 20px 40px;
    border-bottom: 0.5px solid #c5c1c1;
  }
  .right {
    display: flex;
    gap: 20px;
  }
  p.withdraw-option {
    padding-right: 25px;
  }
  .inner {
    flex: 70%;
    @include tablet{
      width: 65%;
    }
    .withdraw-block {
      display: flex;
      margin-top: 30px;
      align-items: center;
      padding-left: 40px;
      .withdraw-option {
        margin-right: 35px;
        margin-top: -25px;
        padding-right: 30px;
      }
      .title-block {
        display: flex;
        gap: 15px;
        align-items: center;
        text-align: center;
        .logo-img {
          height: 100%;
          border-radius: 5px;
        }
        .actives {
          position: relative;
          border: 0.5px solid blue;
          border-radius: 5px;
          overflow: hidden;
          &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            border-color: transparent blue blue transparent;
            border-style: solid;
            border-width: 8px 8px 8px 8px;
            height: 0px;
            width: 0px;
          }
        }
        .name {
          font-size: 12px;
        }
      }
      @include tablet {
        .withdraw-option {
          margin-right: 25px;
          font-size: 1.2rem;
        }
        .title-block {
          gap: 15px;
          .logo-img {
          }
          .actives {
            &::before {
              content: "";
              border-width: 5px 5px 5px 5px;
            }
          }
          .name {
            font-size: 0.8rem;
          }
        }
      }
    }
    .block__cont1 {
       text-align: center;
    }
    .show-more {
      text-decoration: underline;
      font-size: 1.6rem;
      display: flex;
      justify-content: flex-end;
      color: blue;
      cursor: pointer;
      margin-bottom: 15px;
      font-weight: 600;
    }
  }
  .block-trans {
    display: flex;
    padding: 10px 40px;
    margin: 20px 0;
    gap: 50px;
    justify-content: space-between;
    background-color: rgba(195, 196, 194, 0.15);
    font-family: --mainFont;
    @include tablet {
      width: 100%;
      justify-content: space-between;
      padding: 10px 30px;
      margin: 20px 0;
      gap: 25px;
      font-size: 1.4rem;
    }
  }
  .block-date {
    display: flex;
    margin: 20px 0;
    padding: 0;
    gap: 40px;
    justify-content: center;
    font-family: --mainFont;
    .reject {
      color: red;
    }
    @include tablet {
      margin: 20px 0;
      padding: 0;
      gap: 10px;
      justify-content: space-between;
      font-size: 1.2rem;
    }
  }
  .deposit-right {
    width: 30%;
    background-color: #eeeeee;
    margin-top: 30px;
    margin-right: 30px;
    height: 445px;
    padding: 20px;
    .right-title {
      margin-left: 10px;
      margin-bottom: 10px;
      display: flex;
      gap: 15px;
      align-items: center;
    }
    .desc {
      display: flex;
      margin-bottom: 5px;
      line-height: 18px;

      .num {
        font-family: --mainFont;
      }
      .text-num {
        margin-left: 5px;
        font-size: 12px;
        font-family: --mainFont;
      }
    }
    @include tablet {
      width: 35%;
      padding: 10px;
      margin-right: 10px;
      .right-title {
        gap: 10px;
        align-items: center;
        .span{
          font-size: 1rem;
        }
      }
      .desc {
        line-height: 14px;

        .num {
          font-size: 1rem;
        }
        .text-num {
          font-size: 1rem;
        }
      }
    }
  }
}

.right__title {
  margin-right: 50px;
}
.right__img-box {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 6px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  &.active {
    position: relative;
    border: 2px solid #2196f3;
    ::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 6px;
      height: 6px;
      background-color: #2196f3;
      z-index: 1;
    }
  }
}
// .right__item {
//   text-align: center;
//   color: gray;
//   font-size: 12px;
// }
// .right-img{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-right: 250px;
//     .img-terra{
//         border: 1px solid bl;
//     }
// }
