@import "../../../responsive.scss";

.sponsors-list {
  .sponsors-item {
    .top {
      .img-item {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 100%;
        position: relative;
        .img {
          width: 100%;
          height: 100%;
        }
        .time {
          background: rgba(251, 245, 245, 0.7);
          position: absolute;
          left: 50px;
          top: 20px;
          text-align: center;
          padding: 5px 15px;
          border-radius: 5px;
          line-height: 14px;
          .time {
            color: #000000;
            font-weight: bold;
            font-size: 10px;
          }
          .month {
            color: #000000;
            font-weight: bold;
            font-size: 10px;
          }
          .year {
            color: #ffffff;
            font-size: 10px;
          }
        }
      }

      .content-item {
        max-width: 100%;
        padding: 5px 50px;

        .title-content {
          color: #000000;
          font-size: 20px;

          .title {
            color: #f6b716;
          }
        }

        .learn-more {
          background-color: #fdb813;
          border: none;
          color: Black;
          margin: 30px 0;
          padding: 7px 21px;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          display: flex;
          cursor: pointer;
          border-radius: 4px;
          text-transform: uppercase;
        }

        .learn-more:hover {
          color: #e3e3e3;
        }

        .description-content {
          font-weight: lighter;

          .description {
            font-size: 12px;
            color: #000000;
            word-break: break-all;
            padding-bottom: 5px;
            padding-top: 5px;
          }

          .description1 {
            font-size: 12px;
            color: #000000;
            word-break: break-all;
          }
        }
      }
    }

    .bottom {
      margin-bottom: 15px;
      margin-top: -6px;

      .imgitem {
        display: flex;
        gap: 1px;
        justify-content: center;
        align-items: center;
        transition: transform 0.05s;
      }

      .img {
        height: auto;
        transition: 0.05s ease all;
        cursor: pointer;

        img {
          max-width: 100%;
          width: 100%;
        }

        :hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
.popup-img {
  .img-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.95);

   .img{
    width: 80%;
    position: absolute;
    top: 50px;
    left: 45px;
    .img-item {
      width: 100%;
    }
   }
    .btn-close {
      color: white;
      position: absolute;
      padding: 5px 10px;
      background-color: rgba(6, 6, 6, 0.8);
      top: 15px;
      right: 15px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
