.video-wrapper {
    display: flex;
    justify-content:space-between;

    .tab-Video {
        display: flex;
        flex-direction: column;
        width: 170px;
        font-family: var(--mainFont);
        font-size: 14px;
        opacity: .9;
        cursor: pointer;

        .tab-Video__items{
            width: 100%;
        }

        &__items {
            width: 160px;
            height: 40px;
            transition: all .3s;

            &:hover button {
                cursor: pointer;
                background: #fdbf2b;
                color: black;
            }

        }

        &__name {
            text-align: left;
            font-size: 14px;
            border: 0.2px solid white;
            color: #fdbf2b;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: flex-start;
            display: inline-block;
            align-items: left;
            width: 100%;
            height: 100%;
            background-color: #e3e3e3;
        }

        .active button {
            background: #fdbf2b;
            color: rgb(43, 27, 27);
        }
    }

    .video-list {
        display: flex;
        margin: 0;
        padding: 0;
        width: 1208px;
        flex-wrap: wrap;
        .video-item{
            width: 390px;
            margin: 5px;

            .video-url {
                width: 100%;
                height: 100%;
            }
        }
    }
}