@import "../../../../../responsive.scss";
.wrapper {
  .help-bank {
    display: flex;
    margin-top: 60px;
    width: 100%;
    .bank-title {
      width: 130px;
      margin: 20px 60px;
      @include tablet{
        width: 0;
        margin-left: 10px;
      }
    }
    .bank-block {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      align-items: center;
      width: 100%;

      .bank-item {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 180px;
        .name {
          font-size: 11px;
        }
      }
      .logo-img {
        border-radius: 5px;
        border: 0.5px solid gray;
      }
      .actives {
        border: 0.5px solid blue;
      }
      @include tablet{
        .bank-item {
          display: flex;
          align-items: center;
          gap: 5px;
          width: 47%;
          .name {
            font-size: 0.9rem;
          }
        }
        .logo-img {
          border-radius: 5px;
          border: 0.5px solid gray;
        }
        .actives {
          border: 0.5px solid blue;
        }
      }
    }
  }
  .help-block {
    display: flex;
    margin-top: 30px;
    .help-title {
      margin-right: 40px;
      margin-left: 40px;
      @include tablet {
        width: 30%;
        margin-left: 0;
        margin-right: 40px;
        padding-left: 25px;
        left: 0px;
        font-size: 1.2rem;
      }
    }
    .input {
      width: 300px;
      padding: 12px;
      border-radius: 5px;
      border: 0.5px solid #e6d4f5;
      cursor: pointer;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      @include tablet {
        width: 100%;
        padding: 8px;
      }
    }
    .min {
      font-size: 10px;
      color: red;
      margin-left: 12px;
      margin-top: 20px;
    }
    .btn-block {
      display: flex;
      gap: 20px;
      margin-top: 15px;
      width: 100%;
      .btn-number {
        padding: 10px 0;
        text-align: center;
        width: 20%;
        background-image: -webkit-linear-gradient(top, #f4f3f3, #e6e6e6);
        color: #858585;
        cursor: pointer;
        border-radius: 5px;
      }
      .active {
        border: 0.5px solid blue;
      }
      @include tablet {
        gap: 10px;
        .btn-number {
          padding: 5px 0;
          font-size: 1rem;
        }
      }
    }
    .btn-save {
      margin-top: 30px;
      padding: 12px 80px;
      text-align: center;
      color: white;
      background: #0062c9;
      background: linear-gradient(to bottom, #e6d4f5 0%, #003679 180%);
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
