.wrapper{
    .title{
     color: #959494;
     font-weight: bold;
     font-size: 18px;
     margin: 15px 30px;
    }
    .title-item{
        font-size: 14px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    .content{
     font-size: 14px;
     margin: 0px 30px;
     margin-bottom: 20px;
    }
    .fi{
       color: #0066d1;
    }
 }