.wrapper{
    display: flex;
	justify-content: center;
    background: #f0f0f0;
    .inner{
        width: 1000px;
        background: #fff;
        margin: 40px 0px;
        position: relative;
        padding:30px 30px;
        display: flex;
        .left{
            display: flex;
            width: 35%;
            .left-content{
                display: flex;
                align-items: center;
                padding:22px;
                border: 1px solid #DDDDDD;
                word-break: break-all;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            width: 65%;
            .right-title{
                width: 72.5%;
                height: 40px;
                background-color: black;
                color: white;
                padding: 9px 0px 9px 15px;
                margin-bottom: 10px;
            }

            .right-form{
                
                
                .form-item {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    margin-bottom: 10px;
                    > label {
                        text-align: left;
                        padding: 0px;
                        font-size: 13px;
                        min-width: 135px;
                        display: flex;
                        align-items: center;
                    }
                    > span {
                        color: red;
                        margin-top: 1%;
                        width: 20px;
                    }
                    > input {
                        border: 1px solid silver;
                        width: 38%;
                        padding: 3px 12px;
                        height: 30px;
                        border-radius: 0px;
                        font-size: 12px;
                    }
                    .form-item-number{
                        width: 38%;
                        height: 30px;
                        border-radius: 0px;
                        >div{
                            height: 100%;
                        }
                        >input{
                            width: 100%;
                            height: 100%;
                            border-radius: 0px;
                        }
                    }
                }
                .btn-wrapper{
                    width: 72.5%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    height: 30px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    .button{
                        width: 25%;
                        height: 100%;
                        left: 47%;
                        background: none;
                        cursor: pointer;
                        color: #fff;
                        background-color: #337ab7;
                        border-color: #2e6da4;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.disabled{
	cursor: not-allowed !important;
	/* pointer-events: none; */
    user-select: none;
	opacity: 0.6;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    background: rgb(186, 185, 185);
    color: white;   
    text-align: center;
    width: 400px;
    padding: 100px 50px;
    z-index: 10;
    .icon-close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}