
.wrapper {
	display: flex;
	width: 100%;
	height: 40px;
	top: 0;
	position: fixed;
	z-index: 9;
	background-color: #fff;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 40px;
	width: 100%;
	max-width: var(--defaultLayoutWidthMobile);
	padding: 0 14px;
	position: relative;
}

.button-menu-mobile {
	display: flex;
	align-items: center;
	> i {
		color: #20ace4;
		font-size: 30px;
	}
}

.logo {
	display: flex;
	align-items: center;
	max-height: 25px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	> a {
		display: flex;
		height: 100%;
		justify-content: center;
	}
	.logo-image {
		height: 25.5781px;
		object-fit: cover;
	}
}

.button-back-mobile{
	display: flex;
	align-items: center;
	> i {
		color: #959494;
		font-size: 30px;
	}
}

.title-wrapper{
	display: flex;
	align-items: center;
	max-height: 25px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.title{
		color:#959494;
		text-transform: uppercase;
	}
}