@import "../../../../responsive.scss";
.block-trans {
    display: flex;
    padding: 10px 5px 10px 35px;
    gap: 40px;
    background-color: rgba(129, 157, 187, 0.15);
    font-family: --mainFont;
    @include tablet{
        padding: 10px 5px 10px 20px;
        gap: 20px;
        font-size: 1.2rem;
    }
}