.wrapper {
    border-top: 1px solid  rgb(200, 199, 199);;
  .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    padding-top: 10px;
    gap: 10px;
    .tab-item {
      overflow: hidden;
      position: relative;
      padding-right: 12px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;
        width: 1px;
        height: 18px;
        background: rgb(200, 199, 199);
      }
      &:last-child {
        &::before {
          background: none;
          content: unset;
        }
      }
    }
    .active{
        color: blue;
    }
  }
}
