@import "../../responsive.scss" ;
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 70px;
display: none;
  @include mobile {
    display: block;
    .inner {
      .tab-rebate {
        display: flex;
        width: 100%;
        margin: 33px 0 0px 0;
        background: #0066d1;
        height: 50px;
        justify-content: space-between;

        &__items {
           width: 50%;
          height: 50px;
          transition: all 0.3s;
          &:hover button {
            cursor: pointer;
            color: #fff;
          }
        }

        &__name {
          font-size: 1.4rem;
          background: #0066d1;
          color: #fff;
          justify-content: center;
          display: flex;
          text-align: center;
          align-items: center;
          width: 100%;
          cursor: pointer;
          height: 100%;
        }

        .active button {
          color: orange;
          background: none;
        }
      }
    }
   
  }
}
