.wrapper {
	background: #f0f0f0;
}

.form-container {
	width: 100%;
	background: white;
	margin: 5px 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	.bottom__1,
	.bottom__2 {
		width: 92%;
		> img {
			display: block;
			margin: 0 auto;
			padding-top: 2%;
			width: 100%;
		}
	}
}

.hidden {
	visibility: hidden !important;
	display: none !important;
}
