.wrapper{
    width: 85%;
    background: #e9e9e9;
    margin: 20px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .last{
        font-size: 1.6rem;
        color: #585757;
        font-weight: 500;
    }
    .myr{
        margin-top: 5px;
        color: #0066d1;
        font-weight: bold;
        font-size: 1.6rem;
        
        span{
            margin-left: 5px;
            font-size: 2.8rem;
        }
    }
    .btn{
        border-radius: 4px;
        border: unset;
        width: 80%;
        height: 50px;
        background: #0062c9;
        background: linear-gradient(to bottom, #0f69ca 0%, #084693 102%);
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 10px;
    }
}
