@import "../../responsive.scss";
.wrapper {
  width: 100%;
  height: 100%;
  background: #0a1624;
  .swiper {
    max-width: 1620px;
    margin: auto;
    height: 580px;
    @include tablet {
      width: 100%;
      height: 300px;
    }
  }
  .swiper-slide {
    width: 100%;
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mobile {
    }
  }

  .custom-pagination {
    background: #fcb913;
    width: 40px;
    height: 4px;
    border-radius: 0;
  }
  .notification {
    line-height: 40px;
    height: 40px;
    max-width: 1242px;
    margin: auto;
    display: flex;
    justify-items: center;
    overflow: hidden;
    position: relative;
    .div {
      width: 1200px;
      margin-left: 15px;
      color: #a9aaab;
    }
  }
}
